<a href="https://colab.research.google.com/github/KorStats/classification-project/blob/main/%EC%B5%9C%EC%A2%85%EC%A0%9C%EC%B6%9C/%EC%A0%9C%EC%B6%9C%EC%9A%A9_%ED%8C%8C%EC%9D%BC_%EC%83%9D%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!unzip '/content/drive/MyDrive/산업분류자동화/모델 개발용 자료.zip' -d /content/dataset

Archive:  /content/drive/MyDrive/산업분류자동화/모델 개발용 자료.zip
2. 모델개발용자료.txt:  mismatching "local" filename (2. ыкиыН╕ъ░Ьы░ЬьЪйьЮРыгМ.txt),
         continuing with "central" filename version
  inflating: /content/dataset/2. 모델개발용자료.txt

In [3]:
import pandas as pd
ts=pd.read_csv('/content/dataset/2. 모델개발용자료.txt', sep = "|", encoding = "euc-kr")

In [4]:
ts.head(3)

       AI_id  digit_1  digit_2  digit_3 text_obj  text_mthd text_deal
0  id_000001      NaN      NaN      NaN  치킨전문점에서   고객의주문에의해      치킨판매
1  id_000002      NaN      NaN      NaN     산업공구  다른 소매업자에게    철물 수공구
2  id_000003      NaN      NaN      NaN      절에서   신도을 대상으로    불교단체운영

In [5]:
df_A=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_A.csv')
df_B=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_B.csv')
df_C=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_C.csv')
df_D=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_D.csv')
df_E=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_E.csv')
df_F=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_F.csv')
df_G=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_G.csv')
df_H=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_H.csv')
df_I=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_I.csv')
df_J=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_J.csv')
df_K=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_K.csv')
df_L=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_L.csv')
df_M=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_M.csv')
df_N=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_N.csv')
df_O=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_O.csv')
df_P=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_P.csv')
df_Q=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_Q.csv')
df_R=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_R.csv')
df_S=pd.read_csv('/content/drive/MyDrive/★ 최종예측/result_S.csv')
df=pd.concat([df_A, df_B, df_C, df_D, df_E, df_F, df_G, df_H, df_I, df_J, df_K, df_L, df_M, df_N, df_O, df_P, df_Q, df_R, df_S])

In [6]:
df.head(3)

       AI_id digit_1  digit_2  digit_3                              text
0  id_000054       A      NaN       12                              한우
1  id_000149       A      NaN       11  법인에서 노지재배 쌀 등 식량작물 쌀 등 생산 인터넷 판매
2  id_000733       A      NaN       11                 사업장에서 일반 소비자에게 연근

In [7]:
df_sorted = df.sort_values(by=['AI_id'])
df_sorted=df_sorted.reset_index(drop=True)

In [8]:
df_sorted.loc[(df_sorted['digit_3']==11), 'digit_2']=1
df_sorted.loc[(df_sorted['digit_3']==12), 'digit_2']=1
df_sorted.loc[(df_sorted['digit_3']==13), 'digit_2']=1
df_sorted.loc[(df_sorted['digit_3']==14), 'digit_2']=1
df_sorted.loc[(df_sorted['digit_3']==15), 'digit_2']=1
df_sorted.loc[(df_sorted['digit_3']==20), 'digit_2']=2
df_sorted.loc[(df_sorted['digit_3']==31), 'digit_2']=3
df_sorted.loc[(df_sorted['digit_3']==32), 'digit_2']=3
df_sorted.loc[(df_sorted['digit_3']==51), 'digit_2']=5
df_sorted.loc[(df_sorted['digit_3']==52), 'digit_2']=5
df_sorted.loc[(df_sorted['digit_3']==61), 'digit_2']=6
df_sorted.loc[(df_sorted['digit_3']==62), 'digit_2']=6
df_sorted.loc[(df_sorted['digit_3']==71), 'digit_2']=7
df_sorted.loc[(df_sorted['digit_3']==72), 'digit_2']=7
df_sorted.loc[(df_sorted['digit_3']==80), 'digit_2']=8
df_sorted.loc[(df_sorted['digit_3']==101), 'digit_2']=10
df_sorted.loc[(df_sorted['digit_3']==102), 'digit_2']=10
df_sorted.loc[(df_sorted['digit_3']==103), 'digit_2']=10
df_sorted.loc[(df_sorted['digit_3']==104), 'digit_2']=10
df_sorted.loc[(df_sorted['digit_3']==105), 'digit_2']=10
df_sorted.loc[(df_sorted['digit_3']==106), 'digit_2']=10
df_sorted.loc[(df_sorted['digit_3']==107), 'digit_2']=10
df_sorted.loc[(df_sorted['digit_3']==108), 'digit_2']=10
df_sorted.loc[(df_sorted['digit_3']==111), 'digit_2']=11
df_sorted.loc[(df_sorted['digit_3']==112), 'digit_2']=11
df_sorted.loc[(df_sorted['digit_3']==120), 'digit_2']=12
df_sorted.loc[(df_sorted['digit_3']==131), 'digit_2']=13
df_sorted.loc[(df_sorted['digit_3']==132), 'digit_2']=13
df_sorted.loc[(df_sorted['digit_3']==133), 'digit_2']=13
df_sorted.loc[(df_sorted['digit_3']==134), 'digit_2']=13
df_sorted.loc[(df_sorted['digit_3']==139), 'digit_2']=13
df_sorted.loc[(df_sorted['digit_3']==141), 'digit_2']=14
df_sorted.loc[(df_sorted['digit_3']==142), 'digit_2']=14
df_sorted.loc[(df_sorted['digit_3']==143), 'digit_2']=14
df_sorted.loc[(df_sorted['digit_3']==144), 'digit_2']=14
df_sorted.loc[(df_sorted['digit_3']==151), 'digit_2']=15
df_sorted.loc[(df_sorted['digit_3']==152), 'digit_2']=15
df_sorted.loc[(df_sorted['digit_3']==161), 'digit_2']=16
df_sorted.loc[(df_sorted['digit_3']==162), 'digit_2']=16
df_sorted.loc[(df_sorted['digit_3']==163), 'digit_2']=16
df_sorted.loc[(df_sorted['digit_3']==171), 'digit_2']=17
df_sorted.loc[(df_sorted['digit_3']==172), 'digit_2']=17
df_sorted.loc[(df_sorted['digit_3']==179), 'digit_2']=17
df_sorted.loc[(df_sorted['digit_3']==181), 'digit_2']=18
df_sorted.loc[(df_sorted['digit_3']==182), 'digit_2']=18
df_sorted.loc[(df_sorted['digit_3']==191), 'digit_2']=19
df_sorted.loc[(df_sorted['digit_3']==192), 'digit_2']=19
df_sorted.loc[(df_sorted['digit_3']==201), 'digit_2']=20
df_sorted.loc[(df_sorted['digit_3']==202), 'digit_2']=20
df_sorted.loc[(df_sorted['digit_3']==203), 'digit_2']=20
df_sorted.loc[(df_sorted['digit_3']==204), 'digit_2']=20
df_sorted.loc[(df_sorted['digit_3']==205), 'digit_2']=20
df_sorted.loc[(df_sorted['digit_3']==211), 'digit_2']=21
df_sorted.loc[(df_sorted['digit_3']==212), 'digit_2']=21
df_sorted.loc[(df_sorted['digit_3']==213), 'digit_2']=21
df_sorted.loc[(df_sorted['digit_3']==221), 'digit_2']=22
df_sorted.loc[(df_sorted['digit_3']==222), 'digit_2']=22
df_sorted.loc[(df_sorted['digit_3']==231), 'digit_2']=23
df_sorted.loc[(df_sorted['digit_3']==232), 'digit_2']=23
df_sorted.loc[(df_sorted['digit_3']==233), 'digit_2']=23
df_sorted.loc[(df_sorted['digit_3']==239), 'digit_2']=23
df_sorted.loc[(df_sorted['digit_3']==241), 'digit_2']=24
df_sorted.loc[(df_sorted['digit_3']==242), 'digit_2']=24
df_sorted.loc[(df_sorted['digit_3']==243), 'digit_2']=24
df_sorted.loc[(df_sorted['digit_3']==251), 'digit_2']=25
df_sorted.loc[(df_sorted['digit_3']==252), 'digit_2']=25
df_sorted.loc[(df_sorted['digit_3']==259), 'digit_2']=25
df_sorted.loc[(df_sorted['digit_3']==261), 'digit_2']=26
df_sorted.loc[(df_sorted['digit_3']==262), 'digit_2']=26
df_sorted.loc[(df_sorted['digit_3']==263), 'digit_2']=26
df_sorted.loc[(df_sorted['digit_3']==264), 'digit_2']=26
df_sorted.loc[(df_sorted['digit_3']==265), 'digit_2']=26
df_sorted.loc[(df_sorted['digit_3']==266), 'digit_2']=26
df_sorted.loc[(df_sorted['digit_3']==271), 'digit_2']=27
df_sorted.loc[(df_sorted['digit_3']==272), 'digit_2']=27
df_sorted.loc[(df_sorted['digit_3']==273), 'digit_2']=27
df_sorted.loc[(df_sorted['digit_3']==274), 'digit_2']=27
df_sorted.loc[(df_sorted['digit_3']==281), 'digit_2']=28
df_sorted.loc[(df_sorted['digit_3']==282), 'digit_2']=28
df_sorted.loc[(df_sorted['digit_3']==283), 'digit_2']=28
df_sorted.loc[(df_sorted['digit_3']==284), 'digit_2']=28
df_sorted.loc[(df_sorted['digit_3']==285), 'digit_2']=28
df_sorted.loc[(df_sorted['digit_3']==289), 'digit_2']=28
df_sorted.loc[(df_sorted['digit_3']==291), 'digit_2']=29
df_sorted.loc[(df_sorted['digit_3']==292), 'digit_2']=29
df_sorted.loc[(df_sorted['digit_3']==301), 'digit_2']=30
df_sorted.loc[(df_sorted['digit_3']==302), 'digit_2']=30
df_sorted.loc[(df_sorted['digit_3']==303), 'digit_2']=30
df_sorted.loc[(df_sorted['digit_3']==304), 'digit_2']=30
df_sorted.loc[(df_sorted['digit_3']==311), 'digit_2']=31
df_sorted.loc[(df_sorted['digit_3']==312), 'digit_2']=31
df_sorted.loc[(df_sorted['digit_3']==313), 'digit_2']=31
df_sorted.loc[(df_sorted['digit_3']==319), 'digit_2']=31
df_sorted.loc[(df_sorted['digit_3']==320), 'digit_2']=32
df_sorted.loc[(df_sorted['digit_3']==331), 'digit_2']=33
df_sorted.loc[(df_sorted['digit_3']==332), 'digit_2']=33
df_sorted.loc[(df_sorted['digit_3']==333), 'digit_2']=33
df_sorted.loc[(df_sorted['digit_3']==334), 'digit_2']=33
df_sorted.loc[(df_sorted['digit_3']==339), 'digit_2']=33
df_sorted.loc[(df_sorted['digit_3']==340), 'digit_2']=34
df_sorted.loc[(df_sorted['digit_3']==351), 'digit_2']=35
df_sorted.loc[(df_sorted['digit_3']==352), 'digit_2']=35
df_sorted.loc[(df_sorted['digit_3']==353), 'digit_2']=35
df_sorted.loc[(df_sorted['digit_3']==360), 'digit_2']=36
df_sorted.loc[(df_sorted['digit_3']==370), 'digit_2']=37
df_sorted.loc[(df_sorted['digit_3']==381), 'digit_2']=38
df_sorted.loc[(df_sorted['digit_3']==382), 'digit_2']=38
df_sorted.loc[(df_sorted['digit_3']==383), 'digit_2']=38
df_sorted.loc[(df_sorted['digit_3']==390), 'digit_2']=39
df_sorted.loc[(df_sorted['digit_3']==411), 'digit_2']=41
df_sorted.loc[(df_sorted['digit_3']==412), 'digit_2']=41
df_sorted.loc[(df_sorted['digit_3']==421), 'digit_2']=42
df_sorted.loc[(df_sorted['digit_3']==422), 'digit_2']=42
df_sorted.loc[(df_sorted['digit_3']==423), 'digit_2']=42
df_sorted.loc[(df_sorted['digit_3']==424), 'digit_2']=42
df_sorted.loc[(df_sorted['digit_3']==425), 'digit_2']=42
df_sorted.loc[(df_sorted['digit_3']==426), 'digit_2']=42
df_sorted.loc[(df_sorted['digit_3']==451), 'digit_2']=45
df_sorted.loc[(df_sorted['digit_3']==452), 'digit_2']=45
df_sorted.loc[(df_sorted['digit_3']==453), 'digit_2']=45
df_sorted.loc[(df_sorted['digit_3']==461), 'digit_2']=46
df_sorted.loc[(df_sorted['digit_3']==462), 'digit_2']=46
df_sorted.loc[(df_sorted['digit_3']==463), 'digit_2']=46
df_sorted.loc[(df_sorted['digit_3']==464), 'digit_2']=46
df_sorted.loc[(df_sorted['digit_3']==465), 'digit_2']=46
df_sorted.loc[(df_sorted['digit_3']==466), 'digit_2']=46
df_sorted.loc[(df_sorted['digit_3']==467), 'digit_2']=46
df_sorted.loc[(df_sorted['digit_3']==468), 'digit_2']=46
df_sorted.loc[(df_sorted['digit_3']==471), 'digit_2']=47
df_sorted.loc[(df_sorted['digit_3']==472), 'digit_2']=47
df_sorted.loc[(df_sorted['digit_3']==473), 'digit_2']=47
df_sorted.loc[(df_sorted['digit_3']==474), 'digit_2']=47
df_sorted.loc[(df_sorted['digit_3']==475), 'digit_2']=47
df_sorted.loc[(df_sorted['digit_3']==476), 'digit_2']=47
df_sorted.loc[(df_sorted['digit_3']==477), 'digit_2']=47
df_sorted.loc[(df_sorted['digit_3']==478), 'digit_2']=47
df_sorted.loc[(df_sorted['digit_3']==479), 'digit_2']=47
df_sorted.loc[(df_sorted['digit_3']==491), 'digit_2']=49
df_sorted.loc[(df_sorted['digit_3']==492), 'digit_2']=49
df_sorted.loc[(df_sorted['digit_3']==493), 'digit_2']=49
df_sorted.loc[(df_sorted['digit_3']==494), 'digit_2']=49
df_sorted.loc[(df_sorted['digit_3']==495), 'digit_2']=49
df_sorted.loc[(df_sorted['digit_3']==501), 'digit_2']=50
df_sorted.loc[(df_sorted['digit_3']==502), 'digit_2']=50
df_sorted.loc[(df_sorted['digit_3']==511), 'digit_2']=51
df_sorted.loc[(df_sorted['digit_3']==512), 'digit_2']=51
df_sorted.loc[(df_sorted['digit_3']==521), 'digit_2']=52
df_sorted.loc[(df_sorted['digit_3']==529), 'digit_2']=52
df_sorted.loc[(df_sorted['digit_3']==551), 'digit_2']=55
df_sorted.loc[(df_sorted['digit_3']==559), 'digit_2']=55
df_sorted.loc[(df_sorted['digit_3']==561), 'digit_2']=56
df_sorted.loc[(df_sorted['digit_3']==562), 'digit_2']=56
df_sorted.loc[(df_sorted['digit_3']==581), 'digit_2']=58
df_sorted.loc[(df_sorted['digit_3']==582), 'digit_2']=58
df_sorted.loc[(df_sorted['digit_3']==591), 'digit_2']=59
df_sorted.loc[(df_sorted['digit_3']==592), 'digit_2']=59
df_sorted.loc[(df_sorted['digit_3']==601), 'digit_2']=60
df_sorted.loc[(df_sorted['digit_3']==602), 'digit_2']=60
df_sorted.loc[(df_sorted['digit_3']==611), 'digit_2']=61
df_sorted.loc[(df_sorted['digit_3']==612), 'digit_2']=61
df_sorted.loc[(df_sorted['digit_3']==620), 'digit_2']=62
df_sorted.loc[(df_sorted['digit_3']==631), 'digit_2']=63
df_sorted.loc[(df_sorted['digit_3']==639), 'digit_2']=63
df_sorted.loc[(df_sorted['digit_3']==641), 'digit_2']=64
df_sorted.loc[(df_sorted['digit_3']==642), 'digit_2']=64
df_sorted.loc[(df_sorted['digit_3']==649), 'digit_2']=64
df_sorted.loc[(df_sorted['digit_3']==651), 'digit_2']=65
df_sorted.loc[(df_sorted['digit_3']==652), 'digit_2']=65
df_sorted.loc[(df_sorted['digit_3']==653), 'digit_2']=65
df_sorted.loc[(df_sorted['digit_3']==661), 'digit_2']=66
df_sorted.loc[(df_sorted['digit_3']==662), 'digit_2']=66
df_sorted.loc[(df_sorted['digit_3']==681), 'digit_2']=68
df_sorted.loc[(df_sorted['digit_3']==682), 'digit_2']=68
df_sorted.loc[(df_sorted['digit_3']==701), 'digit_2']=70
df_sorted.loc[(df_sorted['digit_3']==702), 'digit_2']=70
df_sorted.loc[(df_sorted['digit_3']==711), 'digit_2']=71
df_sorted.loc[(df_sorted['digit_3']==712), 'digit_2']=71
df_sorted.loc[(df_sorted['digit_3']==713), 'digit_2']=71
df_sorted.loc[(df_sorted['digit_3']==714), 'digit_2']=71
df_sorted.loc[(df_sorted['digit_3']==715), 'digit_2']=71
df_sorted.loc[(df_sorted['digit_3']==716), 'digit_2']=71
df_sorted.loc[(df_sorted['digit_3']==721), 'digit_2']=72
df_sorted.loc[(df_sorted['digit_3']==729), 'digit_2']=72
df_sorted.loc[(df_sorted['digit_3']==731), 'digit_2']=73
df_sorted.loc[(df_sorted['digit_3']==732), 'digit_2']=73
df_sorted.loc[(df_sorted['digit_3']==733), 'digit_2']=73
df_sorted.loc[(df_sorted['digit_3']==739), 'digit_2']=73
df_sorted.loc[(df_sorted['digit_3']==741), 'digit_2']=74
df_sorted.loc[(df_sorted['digit_3']==742), 'digit_2']=74
df_sorted.loc[(df_sorted['digit_3']==743), 'digit_2']=74
df_sorted.loc[(df_sorted['digit_3']==751), 'digit_2']=75
df_sorted.loc[(df_sorted['digit_3']==752), 'digit_2']=75
df_sorted.loc[(df_sorted['digit_3']==753), 'digit_2']=75
df_sorted.loc[(df_sorted['digit_3']==759), 'digit_2']=75
df_sorted.loc[(df_sorted['digit_3']==761), 'digit_2']=76
df_sorted.loc[(df_sorted['digit_3']==762), 'digit_2']=76
df_sorted.loc[(df_sorted['digit_3']==763), 'digit_2']=76
df_sorted.loc[(df_sorted['digit_3']==764), 'digit_2']=76
df_sorted.loc[(df_sorted['digit_3']==841), 'digit_2']=84
df_sorted.loc[(df_sorted['digit_3']==842), 'digit_2']=84
df_sorted.loc[(df_sorted['digit_3']==843), 'digit_2']=84
df_sorted.loc[(df_sorted['digit_3']==844), 'digit_2']=84
df_sorted.loc[(df_sorted['digit_3']==845), 'digit_2']=84
df_sorted.loc[(df_sorted['digit_3']==851), 'digit_2']=85
df_sorted.loc[(df_sorted['digit_3']==852), 'digit_2']=85
df_sorted.loc[(df_sorted['digit_3']==853), 'digit_2']=85
df_sorted.loc[(df_sorted['digit_3']==854), 'digit_2']=85
df_sorted.loc[(df_sorted['digit_3']==855), 'digit_2']=85
df_sorted.loc[(df_sorted['digit_3']==856), 'digit_2']=85
df_sorted.loc[(df_sorted['digit_3']==857), 'digit_2']=85
df_sorted.loc[(df_sorted['digit_3']==861), 'digit_2']=86
df_sorted.loc[(df_sorted['digit_3']==862), 'digit_2']=86
df_sorted.loc[(df_sorted['digit_3']==863), 'digit_2']=86
df_sorted.loc[(df_sorted['digit_3']==869), 'digit_2']=86
df_sorted.loc[(df_sorted['digit_3']==871), 'digit_2']=87
df_sorted.loc[(df_sorted['digit_3']==872), 'digit_2']=87
df_sorted.loc[(df_sorted['digit_3']==901), 'digit_2']=90
df_sorted.loc[(df_sorted['digit_3']==902), 'digit_2']=90
df_sorted.loc[(df_sorted['digit_3']==911), 'digit_2']=91
df_sorted.loc[(df_sorted['digit_3']==912), 'digit_2']=91
df_sorted.loc[(df_sorted['digit_3']==941), 'digit_2']=94
df_sorted.loc[(df_sorted['digit_3']==942), 'digit_2']=94
df_sorted.loc[(df_sorted['digit_3']==949), 'digit_2']=94
df_sorted.loc[(df_sorted['digit_3']==951), 'digit_2']=95
df_sorted.loc[(df_sorted['digit_3']==952), 'digit_2']=95
df_sorted.loc[(df_sorted['digit_3']==953), 'digit_2']=95
df_sorted.loc[(df_sorted['digit_3']==961), 'digit_2']=96
df_sorted.loc[(df_sorted['digit_3']==969), 'digit_2']=96
df_sorted.loc[(df_sorted['digit_3']==970), 'digit_2']=97
df_sorted.loc[(df_sorted['digit_3']==981), 'digit_2']=98
df_sorted.loc[(df_sorted['digit_3']==982), 'digit_2']=98
df_sorted.loc[(df_sorted['digit_3']==990), 'digit_2']=99

In [9]:
df_sorted['digit_2']=df_sorted['digit_2'].astype(int)

In [10]:
df_sorted.drop(['text'], axis=1, inplace=True)

In [11]:
df_sorted.head(10)

       AI_id digit_1  digit_2  digit_3
0  id_000001       I       56      561
1  id_000002       G       46      466
2  id_000003       S       94      949
3  id_000004       C       30      302
4  id_000005       I       56      562
5  id_000006       C       18      181
6  id_000007       I       56      561
7  id_000008       C       25      259
8  id_000009       S       95      952
9  id_000010       C       14      141

In [12]:
ts.drop(['digit_1', 'digit_2', 'digit_3'], axis=1, inplace=True)

In [13]:
ts.head(10)

       AI_id    text_obj  text_mthd text_deal
0  id_000001     치킨전문점에서   고객의주문에의해      치킨판매
1  id_000002        산업공구  다른 소매업자에게    철물 수공구
2  id_000003         절에서   신도을 대상으로    불교단체운영
3  id_000004       영업장에서      고객요구로     자동차튜닝
4  id_000005    실내포장마차에서  접객시설을 갖추고   소주,맥주제공
5  id_000006   철,아크릴,포맥스      스크린인쇄        명판
6  id_000007         음식점    접객시설가지고    조개구이판매
7  id_000008      스테인레스를  프레스가공하여제조      주방용품
8  id_000009          수리    서비스센터에서  전문수리 수입차
9  id_000010  약품(화공), 미싱  완성품입고, 수선       NaN

In [14]:
sub=pd.merge(df_sorted, ts)

In [15]:
sub.to_csv('답안 작성용 파일.csv', index=False, encoding='utf-8-sig')