<a href="https://colab.research.google.com/github/KorStats/ocr_receipt/blob/main/F_%EC%A6%9D%EB%B6%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 구글드라이브에서 파일 읽어오기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
!ln -s /content/gdrive/My\ Drive/ /mydrive
!ls /mydrive

Mounted at /content/gdrive
ln: failed to create symbolic link '/mydrive/My Drive': File exists
 산업분류자동화  'Colab Notebooks'  '답안 작성용 파일.csv'  'My Drive'

In [ ]:
!unzip /content/gdrive/'My Drive'/산업분류자동화/'실습용 자료'.zip -d /content/dataset

Archive:  /content/gdrive/My Drive/산업분류자동화/실습용 자료.zip
1. 실습용자료.txt:  mismatching "local" filename (1. ьЛдьК╡ьЪйьЮРыгМ.txt),
         continuing with "central" filename version
replace /content/dataset/1. 실습용자료.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/dataset/1. 실습용자료.txt

In [ ]:
import pandas as pd
df=pd.read_csv('/content/dataset/1. 실습용자료.txt', sep = "|", encoding = "euc-kr")

In [ ]:
ts=pd.read_csv('/content/gdrive/My Drive/답안 작성용 파일.csv' , encoding = "euc-kr")

## 데이터 전처리

In [ ]:
df=df[(df['digit_1'] =='F')] #조건에 맞는 데이터 출력
ts=ts[(ts['digit_1'] =='F')] #조건에 맞는 데이터 출력

In [ ]:
df=df.reset_index(drop=True)
df

,AI_id,digit_1,digit_2,digit_3,text_obj,text_mthd,text_deal
0,id_0000010,F,42,423,영업장에서,고객의뢰를 받아,내부전기공사
1,id_0000052,F,42,422,사업장에서,의뢰.요청받아,상수도배관공사
2,id_0000197,F,41,411,현장에서,고개의 요청에따라,주택건설
3,id_0000222,F,42,422,건축물내,"기계,장비설치공사",공조기 설치
4,id_0000227,F,42,424,건물내,고객요구에 따라,인테리어공사
...,...,...,...,...,...,...,...
35045,id_0999849,F,42,424,NaN,토탈인테리어및 유리바닥재도소매,NaN
35046,id_0999875,F,41,412,건설현장에서,고객의 의뢰를 받아,토목공사
35047,id_0999989,F,41,412,현장에서,건설업,토목시설물
35048,id_0999993,F,41,412,고객의사업장에서,고객요구의따라,조경건설공사
35049,id_0999997,F,42,424,현장에서,고객의요청에의해,실내인테리어

In [ ]:
df['text']=df['text_obj'].map(str)+" "+df['text_mthd'].map(str)+" "+df['text_deal'].map(str)
i=[]
for sentence in df['text']:
    a=sentence.replace('nan', '')
    i.append(a)
df['text']=pd.DataFrame(i)
df=df.drop(['text_obj','text_mthd', 'text_deal'], axis=1) # 기존에 있던 세개의 text변수 삭제
df

            AI_id digit_1  digit_2  digit_3                     text
0      id_0000010       F       42      423    영업장에서 고객의뢰를 받아 내부전기공사
1      id_0000052       F       42      422    사업장에서 의뢰.요청받아 상수도배관공사
2      id_0000197       F       41      411      현장에서 고개의 요청에따라 주택건설
3      id_0000222       F       42      422    건축물내 기계,장비설치공사 공조기 설치
4      id_0000227       F       42      424      건물내 고객요구에 따라 인테리어공사
...           ...     ...      ...      ...                      ...
35045  id_0999849       F       42      424        토탈인테리어및 유리바닥재도소매
35046  id_0999875       F       41      412   건설현장에서 고객의 의뢰를 받아 토목공사
35047  id_0999989       F       41      412           현장에서 건설업 토목시설물
35048  id_0999993       F       41      412  고객의사업장에서 고객요구의따라 조경건설공사
35049  id_0999997       F       42      424     현장에서 고객의요청에의해 실내인테리어

[35050 rows x 5 columns]

In [ ]:
df['digit_3'].value_counts()

424    11152
422     5744
421     4724
423     4360
411     3582
412     3363
426     1566
425      559
Name: digit_3, dtype: int64

## **# 데이터 증분 및 맞춤법 교정**

In [ ]:
a=df[df['digit_3']==425]
b=df[df['digit_3']==426]
c=df[df['digit_3']==412]
d=df[df['digit_3']==411]
df1=pd.concat([a,b,c])
df1=df1.reset_index(drop=True)
df1

,AI_id,digit_1,digit_2,digit_3,text
0,id_0001765,F,42,425,"사업장에서 고객의 의뢰를 받아 전문건설하도급 (시설물 유지관리공사, 상하수도)"
1,id_0001962,F,42,425,고객의사업장에서 고객요청에따라 시설물유지관리공사
2,id_0002818,F,42,425,건설현장에서 고객의의뢰를 받아 토목시설건설
3,id_0003478,F,42,425,현장에서 고객의 요청으로 시설물유지공사
4,id_0003751,F,42,425,사업체에서 시설을 갖추고 난방보일러유지보수
...,...,...,...,...,...
5483,id_0999458,F,41,412,현장에서 업체의뢰받아 도로조성공사
5484,id_0999596,F,41,412,현장에서 고객요청으로 토목시설 건축
5485,id_0999875,F,41,412,건설현장에서 고객의 의뢰를 받아 토목공사
5486,id_0999989,F,41,412,현장에서 건설업 토목시설물
5487,id_0999993,F,41,412,고객의사업장에서 고객요구의따라 조경건설공사

In [ ]:
# 맞춤법 검사

In [ ]:
!pip install git+https://github.com/ssut/py-hanspell

Collecting git+https://github.com/ssut/py-hanspell
  Cloning https://github.com/ssut/py-hanspell to /tmp/pip-req-build-d5_eprlk
  Running command git clone -q https://github.com/ssut/py-hanspell /tmp/pip-req-build-d5_eprlk
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from py-hanspell==1.1) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->py-hanspell==1.1) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->py-hanspell==1.1) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->py-hanspell==1.1) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->py-hanspell==1.1) (2.10)

In [ ]:
from hanspell import spell_checker
temp_result=[]
for sentence in df1['text']:
  result=spell_checker.check(sentence)
  temp_result.append(result.checked)

df1['text']=pd.DataFrame(temp_result)

In [ ]:
# 데이터 증분 코드
import random
import pickle
import re
def get_only_hangul(line):
	parseText= re.compile('/ ^[ㄱ-ㅎㅏ-ㅣ가-힣]*$/').sub('',line)
	return parseText

def synonym_replacement(words, n):
	new_words = words.copy()
	random_word_list = list(set([word for word in words]))
	random.shuffle(random_word_list)
	num_replaced = 0
	for random_word in random_word_list:
		synonyms = get_synonyms(random_word)
		if len(synonyms) >= 1:
			synonym = random.choice(list(synonyms))
			new_words = [synonym if word == random_word else word for word in new_words]
			num_replaced += 1
		if num_replaced >= n:
			break
	if len(new_words) != 0:
		sentence = ' '.join(new_words)
		new_words = sentence.split(" ")
	else:
		new_words = ""
	return new_words

def get_synonyms(word):
	synomyms = []
	try:
		for syn in wordnet[word]:
			for s in syn:
				synomyms.append(s)
	except:
		pass
	return synomyms

def random_deletion(words, p):
	if len(words) == 1:
		return words

	new_words = []
	for word in words:
		r = random.uniform(0, 1)
		if r > p:
			new_words.append(word)
	if len(new_words) == 0:
		rand_int = random.randint(0, len(words)-1)
		return [words[rand_int]]
	return new_words

########################################################################
# Random swap
# Randomly swap two words in the sentence n times
########################################################################
def random_swap(words, n):
	new_words = words.copy()
	for _ in range(n):
		new_words = swap_word(new_words)
	return new_words

def swap_word(new_words):
	random_idx_1 = random.randint(0, len(new_words)-1)
	random_idx_2 = random_idx_1
	counter = 0
	while random_idx_2 == random_idx_1:
		random_idx_2 = random.randint(0, len(new_words)-1)
		counter += 1
		if counter > 3:
			return new_words
	new_words[random_idx_1], new_words[random_idx_2] = new_words[random_idx_2], new_words[random_idx_1]
	return new_words

########################################################################
# Random insertion
# Randomly insert n words into the sentence
########################################################################
def random_insertion(words, n):
	new_words = words.copy()
	for _ in range(n):
		add_word(new_words)	
	return new_words

def add_word(new_words):
	synonyms = []
	counter = 0
	while len(synonyms) < 1:
		if len(new_words) >= 1:
			random_word = new_words[random.randint(0, len(new_words)-1)]
			synonyms = get_synonyms(random_word)
			counter += 1
		else:
			random_word = ""
		if counter >= 10:
			return
		
	random_synonym = synonyms[0]
	random_idx = random.randint(0, len(new_words)-1)
	new_words.insert(random_idx, random_synonym)

def EDA(sentence, alpha_sr=0.1, alpha_ri=0.1, alpha_rs=0.1, p_rd=0.1, num_aug=9):
	sentence = get_only_hangul(sentence)
	words = sentence.split(' ')
	words = [word for word in words if word is not ""]
	num_words = len(words)
	augmented_sentences = []
	num_new_per_technique = int(num_aug/4) + 1
	n_sr = max(1, int(alpha_sr*num_words))
	n_ri = max(1, int(alpha_ri*num_words))
	n_rs = max(1, int(alpha_rs*num_words))
	# sr
	for _ in range(num_new_per_technique):
		a_words = synonym_replacement(words, n_sr)
		augmented_sentences.append(' '.join(a_words))
	# ri
	for _ in range(num_new_per_technique):
		a_words = random_insertion(words, n_ri)
		augmented_sentences.append(' '.join(a_words))
	# rs
	for _ in range(num_new_per_technique):
		a_words = random_swap(words, n_rs)
		augmented_sentences.append(" ".join(a_words))
	# rd
	for _ in range(num_new_per_technique):
		a_words = random_deletion(words, p_rd)
		augmented_sentences.append(" ".join(a_words))
	augmented_sentences = [get_only_hangul(sentence) for sentence in augmented_sentences]
	random.shuffle(augmented_sentences)
	if num_aug >= 1:
		augmented_sentences = augmented_sentences[:num_aug]
	else:
		keep_prob = num_aug / len(augmented_sentences)
		augmented_sentences = [s for s in augmented_sentences if random.uniform(0, 1) < keep_prob]
	augmented_sentences.append(sentence)
	return augmented_sentences

In [ ]:
temp_result=[]
n=0
for sentence in df1['text']:
  result_list=EDA(sentence, alpha_sr=0.1, alpha_ri=0.1, alpha_rs=0.1, p_rd=0.1, num_aug=5)
  id_list=['p'+str(df1['AI_id'][n]), 'p'+str(df1['AI_id'][n]), 'p'+str(df1['AI_id'][n]), 'p'+str(df1['AI_id'][n]),'p'+str(df1['AI_id'][n]),'p'+str(df1['AI_id'][n])]
  digit_1_list=[df1['digit_1'][n], df1['digit_1'][n], df1['digit_1'][n], df1['digit_1'][n], df1['digit_1'][n], df1['digit_1'][n]]
  digit_2_list=[df1['digit_2'][n], df1['digit_2'][n], df1['digit_2'][n], df1['digit_2'][n], df1['digit_2'][n], df1['digit_2'][n]]
  digit_3_list=[df1['digit_3'][n], df1['digit_3'][n], df1['digit_3'][n], df1['digit_3'][n], df1['digit_3'][n], df1['digit_3'][n]]
  data_to_insert={'AI_id' : id_list, 'digit_1' : digit_1_list, 'digit_2' : digit_2_list, 'digit_3': digit_3_list, 'text' : result_list}
  df1_to_insert = pd.DataFrame(data_to_insert)
  df1= df1.append(df1_to_insert, ignore_index=True)
  n=n+1

기존 데이터 합치기

In [ ]:
df=pd.concat([df, df1])

In [ ]:
df1

,AI_id,digit_1,digit_2,digit_3,text
0,id_0001765,F,42,425,"사업장에서 고객의 의뢰를 받아 전문건설하도급 (시설물 유지관리 공사, 상하수도)"
1,id_0001962,F,42,425,고객의 사업장에서 고객 요청에 따라 시설물 유지관리 공사
2,id_0002818,F,42,425,건설현장에서 고객의 의뢰를 받아 토목시설 건설
3,id_0003478,F,42,425,현장에서 고객의 요청으로 시설물 유지공사
4,id_0003751,F,42,425,사업체에서 시설을 갖추고 난방보일러 유지 보수
...,...,...,...,...,...
38411,pid_0999993,F,41,412,고객의 사업장에서 고객 조경건설공사 따라 요구의
38412,pid_0999993,F,41,412,고객의 고객 사업장에서 요구의 따라 조경건설공사
38413,pid_0999993,F,41,412,고객의 사업장에서 고객 요구의 따라 조경건설공사
38414,pid_0999993,F,41,412,고객의 사업장에서 고객 요구의 따라 조경건설공사
38415,pid_0999993,F,41,412,고객의 사업장에서 고객 요구의 따라 조경건설공사

In [ ]:
df['digit_3'].value_counts()

412    26904
426    12528
424    11152
422     5744
421     4724
425     4472
423     4360
411     3582
Name: digit_3, dtype: int64

In [ ]:
df.loc[(df['digit_3'] == 411), 'digit_3'] = 0  
df.loc[(df['digit_3'] == 412), 'digit_3'] = 1  
df.loc[(df['digit_3'] == 421), 'digit_3'] = 2  
df.loc[(df['digit_3'] == 422), 'digit_3'] = 3  
df.loc[(df['digit_3'] == 423), 'digit_3'] = 4  
df.loc[(df['digit_3'] == 424), 'digit_3'] = 5  
df.loc[(df['digit_3'] == 425), 'digit_3'] = 6  
df.loc[(df['digit_3'] == 426), 'digit_3'] = 7

In [ ]:
df.to_csv('df_F.csv', index=False, encoding='utf-8-sig')