<a href="https://colab.research.google.com/github/KorStats/ocr_receipt/blob/main/%EC%A6%9D%EB%B6%84/(%EB%85%B8%EC%9D%B4)_%EC%9B%90%EB%B3%B8F%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A6%9D%EB%B6%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 구글드라이브에서 파일 읽어오기

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')
!ln -s /content/gdrive/My\ Drive/ /mydrive
!ls /mydrive

Mounted at /content/gdrive
 기본   산업분류자동화	'Colab Notebooks'  'My Drive'

In [3]:
import pandas as pd
df=pd.read_csv('/mydrive/산업분류자동화/1. 실습용자료.txt', sep = "|", encoding = "euc-kr")

## 데이터 전처리

In [4]:
df=df[(df['digit_1'] =='F')] #조건에 맞는 데이터 출력

In [5]:
df=df.reset_index(drop=True)
df

,AI_id,digit_1,digit_2,digit_3,text_obj,text_mthd,text_deal
0,id_0000010,F,42,423,영업장에서,고객의뢰를 받아,내부전기공사
1,id_0000052,F,42,422,사업장에서,의뢰.요청받아,상수도배관공사
2,id_0000197,F,41,411,현장에서,고개의 요청에따라,주택건설
3,id_0000222,F,42,422,건축물내,"기계,장비설치공사",공조기 설치
4,id_0000227,F,42,424,건물내,고객요구에 따라,인테리어공사
...,...,...,...,...,...,...,...
35045,id_0999849,F,42,424,NaN,토탈인테리어및 유리바닥재도소매,NaN
35046,id_0999875,F,41,412,건설현장에서,고객의 의뢰를 받아,토목공사
35047,id_0999989,F,41,412,현장에서,건설업,토목시설물
35048,id_0999993,F,41,412,고객의사업장에서,고객요구의따라,조경건설공사
35049,id_0999997,F,42,424,현장에서,고객의요청에의해,실내인테리어

In [6]:
df['text']=df['text_obj'].map(str)+" "+df['text_mthd'].map(str)+" "+df['text_deal'].map(str)
i=[]
for sentence in df['text']:
    a=sentence.replace('nan', '')
    i.append(a)
df['text']=pd.DataFrame(i)
df=df.drop(['text_obj','text_mthd', 'text_deal'], axis=1) # 기존에 있던 세개의 text변수 삭제
df

            AI_id digit_1  digit_2  digit_3                     text
0      id_0000010       F       42      423    영업장에서 고객의뢰를 받아 내부전기공사
1      id_0000052       F       42      422    사업장에서 의뢰.요청받아 상수도배관공사
2      id_0000197       F       41      411      현장에서 고개의 요청에따라 주택건설
3      id_0000222       F       42      422    건축물내 기계,장비설치공사 공조기 설치
4      id_0000227       F       42      424      건물내 고객요구에 따라 인테리어공사
...           ...     ...      ...      ...                      ...
35045  id_0999849       F       42      424        토탈인테리어및 유리바닥재도소매
35046  id_0999875       F       41      412   건설현장에서 고객의 의뢰를 받아 토목공사
35047  id_0999989       F       41      412           현장에서 건설업 토목시설물
35048  id_0999993       F       41      412  고객의사업장에서 고객요구의따라 조경건설공사
35049  id_0999997       F       42      424     현장에서 고객의요청에의해 실내인테리어

[35050 rows x 5 columns]

## **# 데이터 증분 및 맞춤법 교정**

In [ ]:
# 맞춤법 검사

In [7]:
!pip install git+https://github.com/ssut/py-hanspell

Collecting git+https://github.com/ssut/py-hanspell
  Cloning https://github.com/ssut/py-hanspell to /tmp/pip-req-build-wv9l6pfs
  Running command git clone -q https://github.com/ssut/py-hanspell /tmp/pip-req-build-wv9l6pfs
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from py-hanspell==1.1) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->py-hanspell==1.1) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->py-hanspell==1.1) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->py-hanspell==1.1) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->py-hanspell==1.1) (2021.10.8)
Building wheels for collected packages: py-hanspell
  Building wheel for py-hanspell (setup.py) ... done
  Created wheel for py-hanspell: filename=py_hanspell-1.1-py3-none-any.whl size=4868 sha256=0796da6e5be4376711ff06b27b05097642d9b8b07377087e6c123effc4d2e262
  Stored in directory: /tmp/pip-ephem-wheel-cache-ejhuk20e/wheels/31/c2/c7/ddbbd9a84ddb0a67c2e52e3324d4b7b47dcf9581af9cd784de
Successfully built py-hanspell
Installing collected packages: py-hanspell
Successfully installed py-hanspell-1.1

In [8]:
from hanspell import spell_checker

temp_result=[]
for sentence in df['text']:
  try:
    result=spell_checker.check(sentence)
    temp_result.append(result.checked)
  except:
    temp_result.append(sentence)

df['text']=pd.DataFrame(temp_result)

In [9]:
df

            AI_id digit_1  digit_2  digit_3                        text
0      id_0000010       F       42      423     영업장에서 고객 의뢰를 받아 내부 전기공사
1      id_0000052       F       42      422    사업장에서 의뢰. 요청받아 상수도 배관 공사
2      id_0000197       F       41      411       현장에서 고개의 요청에 따라 주택 건설
3      id_0000222       F       42      422    건축물 내 기계, 장비 설치공사 공조기 설치
4      id_0000227       F       42      424      건물 내 고객 요구에 따라 인테리어 공사
...           ...     ...      ...      ...                         ...
35045  id_0999849       F       42      424         토털 인테리어 및 유리바닥재도 소매
35046  id_0999875       F       41      412      건설현장에서 고객의 의뢰를 받아 토목공사
35047  id_0999989       F       41      412              현장에서 건설업 토목시설물
35048  id_0999993       F       41      412  고객의 사업장에서 고객 요구의 따라 조경건설공사
35049  id_0999997       F       42      424     현장에서 고객의 요청에 의해 실내 인테리어

[35050 rows x 5 columns]

In [10]:
df.to_csv('F_spell_check.csv', index=False, encoding='utf-8-sig')

In [18]:
df['digit_3'].value_counts().sort_index()

411     3582
412     3363
421     4724
422     5744
423     4360
424    11152
425      559
426     1566
Name: digit_3, dtype: int64

In [12]:
# 데이터 증분 코드
import random
import pickle
import re
def get_only_hangul(line):
	parseText= re.compile('/ ^[ㄱ-ㅎㅏ-ㅣ가-힣]*$/').sub('',line)
	return parseText

def synonym_replacement(words, n):
	new_words = words.copy()
	random_word_list = list(set([word for word in words]))
	random.shuffle(random_word_list)
	num_replaced = 0
	for random_word in random_word_list:
		synonyms = get_synonyms(random_word)
		if len(synonyms) >= 1:
			synonym = random.choice(list(synonyms))
			new_words = [synonym if word == random_word else word for word in new_words]
			num_replaced += 1
		if num_replaced >= n:
			break
	if len(new_words) != 0:
		sentence = ' '.join(new_words)
		new_words = sentence.split(" ")
	else:
		new_words = ""
	return new_words

def get_synonyms(word):
	synomyms = []
	try:
		for syn in wordnet[word]:
			for s in syn:
				synomyms.append(s)
	except:
		pass
	return synomyms

def random_deletion(words, p):
	if len(words) == 1:
		return words

	new_words = []
	for word in words:
		r = random.uniform(0, 1)
		if r > p:
			new_words.append(word)
	if len(new_words) == 0:
		rand_int = random.randint(0, len(words)-1)
		return [words[rand_int]]
	return new_words

########################################################################
# Random swap
# Randomly swap two words in the sentence n times
########################################################################
def random_swap(words, n):
	new_words = words.copy()
	for _ in range(n):
		new_words = swap_word(new_words)
	return new_words

def swap_word(new_words):
	random_idx_1 = random.randint(0, len(new_words)-1)
	random_idx_2 = random_idx_1
	counter = 0
	while random_idx_2 == random_idx_1:
		random_idx_2 = random.randint(0, len(new_words)-1)
		counter += 1
		if counter > 3:
			return new_words
	new_words[random_idx_1], new_words[random_idx_2] = new_words[random_idx_2], new_words[random_idx_1]
	return new_words

########################################################################
# Random insertion
# Randomly insert n words into the sentence
########################################################################
def random_insertion(words, n):
	new_words = words.copy()
	for _ in range(n):
		add_word(new_words)	
	return new_words

def add_word(new_words):
	synonyms = []
	counter = 0
	while len(synonyms) < 1:
		if len(new_words) >= 1:
			random_word = new_words[random.randint(0, len(new_words)-1)]
			synonyms = get_synonyms(random_word)
			counter += 1
		else:
			random_word = ""
		if counter >= 10:
			return
		
	random_synonym = synonyms[0]
	random_idx = random.randint(0, len(new_words)-1)
	new_words.insert(random_idx, random_synonym)

def EDA(sentence, alpha_sr=0.1, alpha_ri=0.1, alpha_rs=0.1, p_rd=0.1, num_aug=9):
	sentence = get_only_hangul(sentence)
	words = sentence.split(' ')
	words = [word for word in words if word is not ""]
	num_words = len(words)
	augmented_sentences = []
	num_new_per_technique = int(num_aug/4) + 1
	n_sr = max(1, int(alpha_sr*num_words))
	n_ri = max(1, int(alpha_ri*num_words))
	n_rs = max(1, int(alpha_rs*num_words))
	# sr
	for _ in range(num_new_per_technique):
		a_words = synonym_replacement(words, n_sr)
		augmented_sentences.append(' '.join(a_words))
	# ri
	for _ in range(num_new_per_technique):
		a_words = random_insertion(words, n_ri)
		augmented_sentences.append(' '.join(a_words))
	# rs
	for _ in range(num_new_per_technique):
		a_words = random_swap(words, n_rs)
		augmented_sentences.append(" ".join(a_words))
	# rd
	for _ in range(num_new_per_technique):
		a_words = random_deletion(words, p_rd)
		augmented_sentences.append(" ".join(a_words))
	augmented_sentences = [get_only_hangul(sentence) for sentence in augmented_sentences]
	random.shuffle(augmented_sentences)
	if num_aug >= 1:
		augmented_sentences = augmented_sentences[:num_aug]
	else:
		keep_prob = num_aug / len(augmented_sentences)
		augmented_sentences = [s for s in augmented_sentences if random.uniform(0, 1) < keep_prob]
	augmented_sentences.append(sentence)
	return augmented_sentences

In [13]:
df1=df[df['digit_3']==411]  # *3 
df2=df[df['digit_3']==412]  # *3 
df3=df[df['digit_3']==421]  # *2 
df4=df[df['digit_3']==422]  # *2
df5=df[df['digit_3']==423]  # *2 
df6=df[df['digit_3']==424] 
df7=df[df['digit_3']==425]  # *20
df8=df[df['digit_3']==426]  # *7

In [14]:
df1=df1.reset_index(drop=True)
df2=df2.reset_index(drop=True)
df3=df3.reset_index(drop=True)
df4=df4.reset_index(drop=True)
df5=df5.reset_index(drop=True)
df6=df6.reset_index(drop=True)
df7=df7.reset_index(drop=True)
df8=df8.reset_index(drop=True)

In [15]:
df30=pd.concat([df1, df2]) # *3 묶음
df20=pd.concat([df3, df4, df5]) # *2 묶음
df30=df30.reset_index(drop=True)
df20=df20.reset_index(drop=True)

In [16]:
temp_result=[]
n=0
id_list=[]
digit_1_list=[]
digit_2_list=[]
digit_3_list=[]

temp = {'AI_id': [], 'digit_1': [], 'digit_2' : [], 'digit_3' : [], 'text' : []}
temp = pd.DataFrame(temp)

for sentence in df30['text']:
  result_list=EDA(sentence, alpha_sr=0.0, alpha_ri=0.0, alpha_rs=0.5, p_rd=0.5, num_aug=2)
  id_list=[str(df30['AI_id'][n]), 'p'+str(df30['AI_id'][n]), 'p'+str(df30['AI_id'][n])]
  digit_1_list=[df30['digit_1'][n], df30['digit_1'][n], df30['digit_1'][n]]
  digit_2_list=[df30['digit_2'][n], df30['digit_2'][n], df30['digit_2'][n]]
  digit_3_list=[df30['digit_3'][n], df30['digit_3'][n], df30['digit_3'][n]]
  data_to_insert={'AI_id' : id_list, 'digit_1' : digit_1_list, 'digit_2' : digit_2_list, 'digit_3': digit_3_list, 'text' : result_list}
  df30_to_insert = pd.DataFrame(data_to_insert)
  temp= temp.append(df30_to_insert, ignore_index=True)
  n=n+1

df30=temp

In [17]:
df30

             AI_id digit_1  digit_2  digit_3                        text
0       id_0000197       F     41.0    411.0       현장에서 고개의 요청에 따라 주택 건설
1      pid_0000197       F     41.0    411.0       현장에서 고개의 건설 따라 주택 요청에
2      pid_0000197       F     41.0    411.0       현장에서 고개의 요청에 따라 주택 건설
3       id_0001354       F     41.0    411.0        대화건설에서 고객 요구에 따라 건설업
4      pid_0001354       F     41.0    411.0        대화건설에서 고객 요구에 따라 건설업
...            ...     ...      ...      ...                         ...
20830  pid_0999989       F     41.0    412.0              현장에서 건설업 토목시설물
20831  pid_0999989       F     41.0    412.0              현장에서 건설업 토목시설물
20832   id_0999993       F     41.0    412.0             고객의 사업장에서 고객 따라
20833  pid_0999993       F     41.0    412.0  고객의 고객 조경건설공사 요구의 사업장에서 따라
20834  pid_0999993       F     41.0    412.0  고객의 사업장에서 고객 요구의 따라 조경건설공사

[20835 rows x 5 columns]

In [19]:
temp_result=[]
n=0
id_list=[]
digit_1_list=[]
digit_2_list=[]
digit_3_list=[]

temp = {'AI_id': [], 'digit_1': [], 'digit_2' : [], 'digit_3' : [], 'text' : []}
temp = pd.DataFrame(temp)

for sentence in df20['text']:
  result_list=EDA(sentence, alpha_sr=0.0, alpha_ri=0.0, alpha_rs=0.5, p_rd=0.5, num_aug=1)
  id_list=[str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n])]
  digit_1_list=[df20['digit_1'][n], df20['digit_1'][n]]
  digit_2_list=[df20['digit_2'][n], df20['digit_2'][n]]
  digit_3_list=[df20['digit_3'][n], df20['digit_3'][n]]
  data_to_insert={'AI_id' : id_list, 'digit_1' : digit_1_list, 'digit_2' : digit_2_list, 'digit_3': digit_3_list, 'text' : result_list}
  df20_to_insert = pd.DataFrame(data_to_insert)
  temp= temp.append(df20_to_insert, ignore_index=True)
  n=n+1

df20=temp

In [20]:
df20

             AI_id digit_1  digit_2  digit_3                             text
0       id_0000257       F     42.0    421.0          전문직 건설 수중공사 전문직 수행 수중펌프
1      pid_0000257       F     42.0    421.0          전문직 건설 수중공사 전문직 수행 수중펌프
2       id_0000346       F     42.0    421.0           사업장에서 고객의 요청으로 종합건설서비스
3      pid_0000346       F     42.0    421.0           사업장에서 고객의 요청으로 종합건설서비스
4       id_0000598       F     42.0    421.0           건설현장에서 고객의 의뢰를 받아 토목공사
...            ...     ...      ...      ...                              ...
29651  pid_0998801       F     42.0    423.0  구입한 선로를 이용 공사현장에 설치 내부 통신 배선 공사
29652   id_0999741       F     42.0    423.0                 현장에 가서 요청에 의해 통신
29653  pid_0999741       F     42.0    423.0      현장에 가서 ㄱ객의 요청에 의해 전기, 통신 설치
29654   id_0999755       F     42.0    423.0          고객의 사업장에서 고객 요구에 일반전기공사
29655  pid_0999755       F     42.0    423.0          고객의 사업장에서 고객 요구에 일반전기공사

[29656 rows x 5 columns]

In [24]:
temp_result=[]
n=0
id_list=[]
digit_1_list=[]
digit_2_list=[]
digit_3_list=[]

temp = {'AI_id': [], 'digit_1': [], 'digit_2' : [], 'digit_3' : [], 'text' : []}
temp = pd.DataFrame(temp)

for sentence in df7['text']:
  result_list=EDA(sentence, alpha_sr=0.0, alpha_ri=0.0, alpha_rs=0.5, p_rd=0.5, num_aug=19)
  id_list=[str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n]), 'p'+str(df7['AI_id'][n])]
  digit_1_list=[df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n], df7['digit_1'][n]]
  digit_2_list=[df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n], df7['digit_2'][n]]
  digit_3_list=[df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n], df7['digit_3'][n]]
  data_to_insert={'AI_id' : id_list, 'digit_1' : digit_1_list, 'digit_2' : digit_2_list, 'digit_3': digit_3_list, 'text' : result_list}
  df7_to_insert = pd.DataFrame(data_to_insert)
  temp= temp.append(df7_to_insert, ignore_index=True)
  n=n+1

df7=temp

In [25]:
df7

,AI_id,digit_1,digit_2,digit_3,text
0,id_0001765,F,42.0,425.0,"사업장에서 고객의 의뢰를 받아 전문건설하도급 (시설물 유지관리 공사, 상하수도)"
1,pid_0001765,F,42.0,425.0,"사업장에서 고객의 의뢰를 받아 전문건설하도급 (시설물 유지관리 공사, 상하수도)"
2,pid_0001765,F,42.0,425.0,"사업장에서 고객의 의뢰를 받아 전문건설하도급 (시설물 유지관리 공사, 상하수도)"
3,pid_0001765,F,42.0,425.0,"받아 유지관리 공사, 상하수도)"
4,pid_0001765,F,42.0,425.0,"사업장에서 고객의 의뢰를 받아 전문건설하도급 (시설물 유지관리 공사, 상하수도)"
...,...,...,...,...,...
11175,pid_0999723,F,42.0,425.0,사업장에서 방수. 보수. 시설물 유지 특수 계약에 코팅 의해
11176,pid_0999723,F,42.0,425.0,사업장에서 시설물 유지 방수. 특수 코팅
11177,pid_0999723,F,42.0,425.0,사업장에서 계약에 의해 시설물 유지 보수. 방수. 특수 코팅
11178,pid_0999723,F,42.0,425.0,사업장에서 계약에 의해 시설물 유지 보수. 방수. 특수 코팅
11179,pid_0999723,F,42.0,425.0,사업장에서 계약에 의해 시설물 유지 보수. 방수. 특수 코팅

In [26]:
temp_result=[]
n=0
id_list=[]
digit_1_list=[]
digit_2_list=[]
digit_3_list=[]

temp = {'AI_id': [], 'digit_1': [], 'digit_2' : [], 'digit_3' : [], 'text' : []}
temp = pd.DataFrame(temp)

for sentence in df8['text']:
  result_list=EDA(sentence, alpha_sr=0.0, alpha_ri=0.0, alpha_rs=0.5, p_rd=0.5, num_aug=6)
  id_list=[str(df8['AI_id'][n]), 'p'+str(df8['AI_id'][n]), 'p'+str(df8['AI_id'][n]), 'p'+str(df8['AI_id'][n]), 'p'+str(df8['AI_id'][n]), 'p'+str(df8['AI_id'][n]), 'p'+str(df8['AI_id'][n])]
  digit_1_list=[df8['digit_1'][n], df8['digit_1'][n], df8['digit_1'][n], df8['digit_1'][n], df8['digit_1'][n], df8['digit_1'][n], df8['digit_1'][n]]
  digit_2_list=[df8['digit_2'][n], df8['digit_2'][n], df8['digit_2'][n], df8['digit_2'][n], df8['digit_2'][n], df8['digit_2'][n], df8['digit_2'][n]]
  digit_3_list=[df8['digit_3'][n], df8['digit_3'][n], df8['digit_3'][n], df8['digit_3'][n], df8['digit_3'][n], df8['digit_3'][n], df8['digit_3'][n]]
  data_to_insert={'AI_id' : id_list, 'digit_1' : digit_1_list, 'digit_2' : digit_2_list, 'digit_3': digit_3_list, 'text' : result_list}
  df8_to_insert = pd.DataFrame(data_to_insert)
  temp= temp.append(df8_to_insert, ignore_index=True)
  n=n+1

df8=temp

In [27]:
df8

             AI_id digit_1  digit_2  digit_3                          text
0       id_0000679       F     42.0    426.0            크레인 수수료 받고 운전자와 함께
1      pid_0000679       F     42.0    426.0         크레인 수수료 받고 운전자와 함께 대여
2      pid_0000679       F     42.0    426.0         크레인 수수료 운전자와 받고 함께 대여
3      pid_0000679       F     42.0    426.0         크레인 수수료 받고 운전자와 함께 대여
4      pid_0000679       F     42.0    426.0         크레인 수수료 받고 운전자와 함께 대여
...            ...     ...      ...      ...                           ...
10957  pid_0999216       F     42.0    426.0  사업장에서 산업현장의 장비를 대상으로 건설장비 운영
10958  pid_0999216       F     42.0    426.0           사업장에서 산업현장의 건설장비 운영
10959  pid_0999216       F     42.0    426.0                     산업현장의 장비를
10960  pid_0999216       F     42.0    426.0  사업장에서 산업현장의 장비를 대상으로 건설장비 운영
10961  pid_0999216       F     42.0    426.0  사업장에서 산업현장의 장비를 대상으로 건설장비 운영

[10962 rows x 5 columns]

기존 데이터 합치기

In [28]:
df=pd.concat([df30,df20 ,df6,df7,df8])

In [30]:
df['digit_3'].value_counts().sort_index()

411.0    10746
412.0    10089
421.0     9448
422.0    11488
423.0     8720
424.0    11152
425.0    11180
426.0    10962
Name: digit_3, dtype: int64

In [31]:
df

             AI_id digit_1  digit_2  digit_3                          text
0       id_0000197       F     41.0    411.0         현장에서 고개의 요청에 따라 주택 건설
1      pid_0000197       F     41.0    411.0         현장에서 고개의 건설 따라 주택 요청에
2      pid_0000197       F     41.0    411.0         현장에서 고개의 요청에 따라 주택 건설
3       id_0001354       F     41.0    411.0          대화건설에서 고객 요구에 따라 건설업
4      pid_0001354       F     41.0    411.0          대화건설에서 고객 요구에 따라 건설업
...            ...     ...      ...      ...                           ...
10957  pid_0999216       F     42.0    426.0  사업장에서 산업현장의 장비를 대상으로 건설장비 운영
10958  pid_0999216       F     42.0    426.0           사업장에서 산업현장의 건설장비 운영
10959  pid_0999216       F     42.0    426.0                     산업현장의 장비를
10960  pid_0999216       F     42.0    426.0  사업장에서 산업현장의 장비를 대상으로 건설장비 운영
10961  pid_0999216       F     42.0    426.0  사업장에서 산업현장의 장비를 대상으로 건설장비 운영

[83785 rows x 5 columns]

In [32]:
df.to_csv('df_F_inc.csv', index=False, encoding='utf-8-sig')