<a href="https://colab.research.google.com/github/KorStats/classification-project/blob/main/%EC%A6%9D%EB%B6%84/B%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A6%9D%EB%B6%84(after_spell_check).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 구글드라이브에서 파일 읽어오기

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')
!ln -s /content/gdrive/My\ Drive/ /mydrive
!ls /mydrive

Mounted at /content/gdrive
 산업분류자동화		'# df_P_inc.csv'    K_spellcheck.csv    S_ori_model.pt
 B_spellcheck.csv	 E_spellcheck.csv   labels.zip	        val.txt
 classes.txt		 F_ori_model.pt    'My Drive'
'Colab Notebooks'	 H_ori_model.pt     N_spell_check.csv
'답안 작성용 파일.csv'	 J_spellcheck.csv   Q_ori_model.pt

In [20]:
import pandas as pd
df=pd.read_csv('/content/gdrive/MyDrive/B_spellcheck.csv')

In [21]:
df['digit_3'].value_counts()

72    223
71    190
62      6
80      3
61      1
51      1
Name: digit_3, dtype: int64

In [22]:
# 데이터 증분 코드
import random
import pickle
import re
def get_only_hangul(line):
	parseText= re.compile('/ ^[ㄱ-ㅎㅏ-ㅣ가-힣]*$/').sub('',line)
	return parseText

def synonym_replacement(words, n):
	new_words = words.copy()
	random_word_list = list(set([word for word in words]))
	random.shuffle(random_word_list)
	num_replaced = 0
	for random_word in random_word_list:
		synonyms = get_synonyms(random_word)
		if len(synonyms) >= 1:
			synonym = random.choice(list(synonyms))
			new_words = [synonym if word == random_word else word for word in new_words]
			num_replaced += 1
		if num_replaced >= n:
			break
	if len(new_words) != 0:
		sentence = ' '.join(new_words)
		new_words = sentence.split(" ")
	else:
		new_words = ""
	return new_words

def get_synonyms(word):
	synomyms = []
	try:
		for syn in wordnet[word]:
			for s in syn:
				synomyms.append(s)
	except:
		pass
	return synomyms

def random_deletion(words, p):
	if len(words) == 1:
		return words

	new_words = []
	for word in words:
		r = random.uniform(0, 1)
		if r > p:
			new_words.append(word)
	if len(new_words) == 0:
		rand_int = random.randint(0, len(words)-1)
		return [words[rand_int]]
	return new_words

########################################################################
# Random swap
# Randomly swap two words in the sentence n times
########################################################################
def random_swap(words, n):
	new_words = words.copy()
	for _ in range(n):
		new_words = swap_word(new_words)
	return new_words

def swap_word(new_words):
	random_idx_1 = random.randint(0, len(new_words)-1)
	random_idx_2 = random_idx_1
	counter = 0
	while random_idx_2 == random_idx_1:
		random_idx_2 = random.randint(0, len(new_words)-1)
		counter += 1
		if counter > 3:
			return new_words
	new_words[random_idx_1], new_words[random_idx_2] = new_words[random_idx_2], new_words[random_idx_1]
	return new_words

########################################################################
# Random insertion
# Randomly insert n words into the sentence
########################################################################
def random_insertion(words, n):
	new_words = words.copy()
	for _ in range(n):
		add_word(new_words)	
	return new_words

def add_word(new_words):
	synonyms = []
	counter = 0
	while len(synonyms) < 1:
		if len(new_words) >= 1:
			random_word = new_words[random.randint(0, len(new_words)-1)]
			synonyms = get_synonyms(random_word)
			counter += 1
		else:
			random_word = ""
		if counter >= 10:
			return
		
	random_synonym = synonyms[0]
	random_idx = random.randint(0, len(new_words)-1)
	new_words.insert(random_idx, random_synonym)

def EDA(sentence, alpha_sr=0.1, alpha_ri=0.1, alpha_rs=0.1, p_rd=0.1, num_aug=9):
	sentence = get_only_hangul(sentence)
	words = sentence.split(' ')
	words = [word for word in words if word is not ""]
	num_words = len(words)
	augmented_sentences = []
	num_new_per_technique = int(num_aug/4) + 1
	n_sr = max(1, int(alpha_sr*num_words))
	n_ri = max(1, int(alpha_ri*num_words))
	n_rs = max(1, int(alpha_rs*num_words))
	# sr
	for _ in range(num_new_per_technique):
		a_words = synonym_replacement(words, n_sr)
		augmented_sentences.append(' '.join(a_words))
	# ri
	for _ in range(num_new_per_technique):
		a_words = random_insertion(words, n_ri)
		augmented_sentences.append(' '.join(a_words))
	# rs
	for _ in range(num_new_per_technique):
		a_words = random_swap(words, n_rs)
		augmented_sentences.append(" ".join(a_words))
	# rd
	for _ in range(num_new_per_technique):
		a_words = random_deletion(words, p_rd)
		augmented_sentences.append(" ".join(a_words))
	augmented_sentences = [get_only_hangul(sentence) for sentence in augmented_sentences]
	random.shuffle(augmented_sentences)
	if num_aug >= 1:
		augmented_sentences = augmented_sentences[:num_aug]
	else:
		keep_prob = num_aug / len(augmented_sentences)
		augmented_sentences = [s for s in augmented_sentences if random.uniform(0, 1) < keep_prob]
	augmented_sentences.append(sentence)
	return augmented_sentences

In [26]:
df1=df[df['digit_3']==72] 
df2=df[df['digit_3']==71] 
df3=df[df['digit_3']==62] 
df4=df[df['digit_3']==80] 
df5=df[df['digit_3']==61] 
df6=df[df['digit_3']==51] 

df10=pd.concat([df1, df2]) #*10
df20=pd.concat([df3, df4, df5, df6]) #*80
df10=df10.reset_index(drop=True)
df20=df20.reset_index(drop=True)

In [27]:
temp_result=[]
n=0
id_list=[]
digit_1_list=[]
digit_2_list=[]
digit_3_list=[]

for sentence in df10['text']:
  result_list=EDA(sentence, alpha_sr=0.1, alpha_ri=0.1, alpha_rs=0.4, p_rd=0.4, num_aug=10)
  id_list=['p'+str(df10['AI_id'][n]), 'p'+str(df10['AI_id'][n]), 'p'+str(df10['AI_id'][n]), 'p'+str(df10['AI_id'][n]),'p'+str(df10['AI_id'][n]), 'p'+str(df10['AI_id'][n]), 'p'+str(df10['AI_id'][n]), 'p'+str(df10['AI_id'][n]),'p'+str(df10['AI_id'][n]), 'p'+str(df10['AI_id'][n]), 'p'+str(df10['AI_id'][n])]
  digit_1_list=[df10['digit_1'][n], df10['digit_1'][n], df10['digit_1'][n], df10['digit_1'][n],df10['digit_1'][n], df10['digit_1'][n], df10['digit_1'][n], df10['digit_1'][n],df10['digit_1'][n], df10['digit_1'][n], df10['digit_1'][n]]
  digit_2_list=[df10['digit_2'][n], df10['digit_2'][n], df10['digit_2'][n], df10['digit_2'][n],df10['digit_2'][n], df10['digit_2'][n], df10['digit_2'][n], df10['digit_2'][n],df10['digit_2'][n], df10['digit_2'][n], df10['digit_2'][n]]
  digit_3_list=[df10['digit_3'][n], df10['digit_3'][n], df10['digit_3'][n], df10['digit_3'][n],df10['digit_3'][n], df10['digit_3'][n], df10['digit_3'][n], df10['digit_3'][n],df10['digit_3'][n], df10['digit_3'][n], df10['digit_3'][n]]
  data_to_insert={'AI_id' : id_list, 'digit_1' : digit_1_list, 'digit_2' : digit_2_list, 'digit_3': digit_3_list, 'text' : result_list}
  df10_to_insert = pd.DataFrame(data_to_insert)
  df10= df10.append(df10_to_insert, ignore_index=True)
  n=n+1

In [28]:
df10

            AI_id digit_1  digit_2  digit_3                        text
0      id_0000332       B        7       72   염전에서 바닷물을 태양열에 증발시켜 소금 생산
1      id_0000594       B        7       72  염전에서 바닷물을 태양열에 증발시켜 천일염 생산
2      id_0000873       B        7       72  염전에서 바닷물을 태양열에 증발시켜 천일염 생산
3      id_0001037       B        7       72  염전에서 바닷물을 태양열에 증발시켜 천일염 생산
4      id_0001665       B        7       72  염전에서 바닷물을 태양열에 증발시켜 천일염 생산
...           ...     ...      ...      ...                         ...
4951  pid_0997922       B        7       71       원석 자갈 원석 자갈, 파쇄 분쇄 자갈
4952  pid_0997922       B        7       71       원석 자갈 원석 자갈, 파쇄 분쇄 자갈
4953  pid_0997922       B        7       71       분쇄 자갈 원석 파쇄 자갈, 원석 자갈
4954  pid_0997922       B        7       71       원석 자갈 원석 자갈, 파쇄 분쇄 자갈
4955  pid_0997922       B        7       71       원석 자갈 원석 자갈, 파쇄 분쇄 자갈

[4956 rows x 5 columns]

In [29]:
temp_result=[]
n=0
id_list=[]
digit_1_list=[]
digit_2_list=[]
digit_3_list=[]

for sentence in df20['text']:
  result_list=EDA(sentence, alpha_sr=0.0, alpha_ri=0.0, alpha_rs=0.5, p_rd=0.5, num_aug=79)
  id_list=['p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]), 'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n]),'p'+str(df20['AI_id'][n])]
  digit_1_list=[df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n], df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n],df20['digit_1'][n]]
  digit_2_list=[df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n], df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n],df20['digit_2'][n]]
  digit_3_list=[df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n], df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n],df20['digit_3'][n]]
  data_to_insert={'AI_id' : id_list, 'digit_1' : digit_1_list, 'digit_2' : digit_2_list, 'digit_3': digit_3_list, 'text' : result_list}
  df20_to_insert = pd.DataFrame(data_to_insert)
  df20= df20.append(df20_to_insert, ignore_index=True)
  n=n+1

In [30]:
df20

           AI_id digit_1  digit_2  digit_3                                text
0     id_0042559       B        6       62      광산에서 고객의 의뢰를 받아 철광석,세하믹,게르마늄체취
1     id_0050251       B        6       62  광산에서 채굴 기계를 이용하여 금, 은, 동 등 채굴 및 정광
2     id_0050918       B        6       62               광산에서 채굴기계를 이용하여 금은 채굴
3     id_0051177       B        6       62             광산에서 채굴기계를 이용하여 금, 은 채굴
4     id_0119291       B        6       62              몰리브덴 휘수연광 채광, 조쇄, 비철금속
..           ...     ...      ...      ...                                 ...
886  pid_0436665       B        5       51                          무연탄 발파, 생산
887  pid_0436665       B        5       51                          무연탄 발파, 생산
888  pid_0436665       B        5       51                          무연탄 발파, 생산
889  pid_0436665       B        5       51                          무연탄 발파, 생산
890  pid_0436665       B        5       51                         무연탄 발파, 생산

[891 rows x 5 columns]

기존 데이터 합치기

In [31]:
df=pd.concat([df10, df20])

In [32]:
df['digit_3'].value_counts()

72    2676
71    2280
62     486
80     243
61      81
51      81
Name: digit_3, dtype: int64

In [33]:
df

           AI_id digit_1  digit_2  digit_3                        text
0     id_0000332       B        7       72   염전에서 바닷물을 태양열에 증발시켜 소금 생산
1     id_0000594       B        7       72  염전에서 바닷물을 태양열에 증발시켜 천일염 생산
2     id_0000873       B        7       72  염전에서 바닷물을 태양열에 증발시켜 천일염 생산
3     id_0001037       B        7       72  염전에서 바닷물을 태양열에 증발시켜 천일염 생산
4     id_0001665       B        7       72  염전에서 바닷물을 태양열에 증발시켜 천일염 생산
..           ...     ...      ...      ...                         ...
886  pid_0436665       B        5       51                  무연탄 발파, 생산
887  pid_0436665       B        5       51                  무연탄 발파, 생산
888  pid_0436665       B        5       51                  무연탄 발파, 생산
889  pid_0436665       B        5       51                  무연탄 발파, 생산
890  pid_0436665       B        5       51                 무연탄 발파, 생산

[5847 rows x 5 columns]

In [34]:
df.to_csv('df_B_inc.csv', index=False, encoding='utf-8-sig')